* {
    box-sizing: border-box;
}

.input-validation-error {
    border: 2px solid red;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: dashed 2px #ccc;
}

.search-div input {
    width: 250px;
    float: right;
    margin: 10px;
}

div.newCatName {
    margin-top: 30px;
    position: relative;
}

span.ajax-text {
    /*display: none;*/
    visibility:hidden ;
}

table.sorting.categories td {
    padding: 20px !important;
}

/*resize index Categoris Table td*/

table.sorting.categories tbody tr td:nth-child(1) {
    width:35% !important;
}



.ajaxDivTd {
   
    visibility: hidden !important;
    cursor: none
}

#CategoiesP {
 
}

#InputDiv {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
    padding: 9px;
    border-radius: 5px;
    width: 90%;
}
#InputDiv input[type=file]{
    outline:none;
    border:none;
}
#InputImgDiv {
    /*position: relative;
    bottom: 25px;
    left: 20px;
    top: 10px;*/
}

div.loader {
    display: none;
}

.text-main {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #606060;
    line-height: 100px;
}

    .text-main:hover {
        color: black;
    }

.ajaxMS {
    background-color: green;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
    color: white;
}

.ajaxCart {
    color: white;
    letter-spacing: 1px;
    position: relative;
    /*top: 4px;*/
    display: inline-block;
}

.total-td {
    font-size: 1.1rem;
    font-weight: bold;
}

.ib {
    visibility: visible !important;
    opacity: 1 !important;
}

ul.adminarea {
    position: relative;
    top: 15px;
}

.ajaxBG {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    display: none;
    z-index: 100;
}

    .ajaxBG span {
        position: relative;
        left: 30%;
        top: 30%;
        transform: translate3d(-50%, -50%,0);
    }

        .ajaxBG span > img {
            width: 75px;
            height: 75px;
        }

form.paypalForm {
    position: absolute;
    left: -2000px;
}

#LogOutId:hover {
    color: white;
}


.qty {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    background: #F8694A;
    color: #FFF;
    border-radius: 50%;
}

.category-nav {
    cursor: pointer;
}

    .category-nav:hover ul.category-list {
        display: block !important;
    }

#MyModel {
    /*left: 50vmin;
    top: 7%;
    overflow: hidden;*/
}

#MyModel_BodyDiv {
    /*width: 70vmin;*/
}

/*.modal-content {
    height: 80vmin;
}*/

.quick-view-btn {
    margin: 5px;
}

.render-body-section {
    margin-top: 40px;
    min-height: 750px;
}


.wrapper-content {
    /*width:1360px;*/
    margin: 0 auto;
    padding: 25px 20px;
    /*width: 70%;
    margin: 0 auto;*/
}


/*==========================================*/
#dropZone_imagesPreview {
    width: 30%;
    display: inline-block;
    margin: 3px;
}

.deleteimage {
}

/*h2::first-letter {
    color: #F8694A;
}*/

.header-btns > li:first-child {
    width: 165px;
}

#newCatName {
    margin-bottom: 10px;
}

#ImageName {
    display: none;
}


/*============================Brands Section=================================*/
/*============================Brands Section=================================*/
/*============================Brands Section=================================*/

.brands__display, .products__display {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.brands__item {
    margin: 0px 5px 4px 5px !important;
}

.edite_brand_btn, .remove_brand_btn {
    width: 100%;
}

.panel-info {
    border: none !important;
    padding: 0px;
}

.panel .panel-info > .panel-heading {
    text-align: center;
    background-color: #f8694a !important;
}

.txtColor_alert {
    color: #ec5840 !important;
    padding: 20px 0px;
}

.addToCard, .addToWish {
    width: 100%;
    text-align: center;
}

.brandsTable {
    width: 100% !important;
}
/*======================Slick Slider===================*/
.post-slider {
    position: relative;
}

    .post-slider .slider-titel {
        text-align: center;
        margin: 15px 0px;
    }

    .post-slider .next {
        position: absolute;
        top: 50%;
        right: 25px;
        font-size: 2em;
        color: #F8694A;
        cursor: pointer;
    }

    .post-slider .prev {
        position: absolute;
        top: 50%;
        left: 25px;
        font-size: 2em;
        color: #F8694A;
        cursor: pointer;
    }

    .post-slider .post-wrapper {
        width: 85%;
        height: 350px;
        margin: 0px auto;
        overflow: hidden;
        /*padding:10px 0px;*/
    }

        .post-slider .post-wrapper .post {
            background-color: white;
            display: inline-block;
            width: 210px !important;
            height: 340px;
            margin: 0px 5px;
            border-radius: 5px;
            box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
            /*position: relative;*/
        }

            .post-slider .post-wrapper .post a.main-btn {
                width: 140px;
                cursor: pointer;
                margin: 0px auto;
                display: block;
                opacity: 0.9;
            }

            /*.post-slider .post-wrapper .post:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}*/

            .post-slider .post-wrapper .post .slider-img {
                width: 100%;
                height: 210px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

        .post-slider .post-wrapper .post-info {
            padding: 0px 5px;
            height: 128px;
        }

.post-info h5, h4 {
    margin: 6px !important;
}

.post-info h4:first-letter {
    color: #F8694A;
}

.post-info .add-to-cart {
    /*padding-left: 8px;
    padding-right: 8px;*/
    height: 35px;
    border-radius: 2px;
}

.slick-list {
    height: 346px;
}


.page-wrapper {
    margin: 50px auto;
}

slick-track {
    width: 400px !important;
}

/*/////////////////////////////////*/
div.slick-list.draggable {
    min-height: 550px !important;
}


/*Tablet */
@media(max-width:768px) {
    .custemSlideImg {
        height: 407px;
        width: 286px
    }

    div.slick-list.draggable {
        min-height: 547px !important;
    }
}
/*Mobli*/
@media(max-width: 426px) {
    .custemSlideImg {
        height: 200px;
    }

    .maniSliderCol {
        text-align: center !important;
    }

    .hero-content h1, h2 {
        text-align: center;
        margin: auto !important;
    }

    .hero-content h1, h2 {
        font-size: 1rem !important;
    }
}



/* QUICK VIEW */
#quick_btn {
    width: 140px;
    cursor: pointer;
    margin: 0px auto;
    display: block;
    opacity: 0.9;
}

.quick-view-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .quick-view-div a.btn-warning {
        background-color: #ffc107c2;
    }

        .quick-view-div a.btn-warning:hover {
            color: #F5D730;
        }

.Q-view-col-one {
    border-right: #a0a0a075 1px solid;
}

.Q-view-col-tow {
    border-right: #a0a0a075 1px solid;
}

#MyModel_BodyDiv > .container-fluid > .row:nth-child(1) {
    margin-bottom: 50px;
}

.wrapper-description {
    overflow: overlay;
}

.Q-view-name {
    font-weight: bold;
    margin-bottom: 20px !important;
}

.outOfStock {
    color: #ec5840 !important;
    font-size: 1.1rem;
    font-weight: 600;
}

.modal-body table {
    width: 100% !important;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    line-height: 28px;
    float: left;
    margin: 0;
}

.single-product-content {
    padding-left: 0px !important;
}


.modal-content .single-product-content .single-product-description .actions .add-to-cart {
    margin-top: 10px
}

.modal-content .single-product-content .single-product-description .actions .wishlist-compare {
    margin-top: 10px;
}
/* END QUICK VIEW */



/*PRODUCT DETAILS */
.fancyBoxDiv {
    display: flex;
    justify-content: center;
}

.fancyBox-child {
    margin: 10px 15px
}

.single-product-description-content {
    padding: 20px 25px !important;
    /*overflow: scroll;*/
}

    .single-product-description-content table {
        width: 100% !important;
    }
/*END PRODUCT DETAILS */

/*Slick Home Slider */

.hero-image img {
    width: 100%;
}

/*End Slick Home Slider */

.update-profile-btn:hover {
    color: white;
    background-color: #FFC107;
}


/*Button Quantity in cart index*/

.single-product-content .single-product-description .quantity-colors .quantity .pro-qty-c {
    width: 90px;
    height: 35px;
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 0 15px;
    float: left;
}

    .single-product-content .single-product-description .quantity-colors .quantity .pro-qty-c .qtybtn {
        width: 15px;
        display: block;
        float: left;
        line-height: 31px;
        cursor: pointer;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        color: #444444;
    }

    .single-product-content .single-product-description .quantity-colors .quantity .pro-qty-c input {
        width: 28px;
        float: left;
        border: none;
        height: 33px;
        line-height: 33px;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

.cart-table td.pro-quantity .pro-qty-c {
    width: 90px;
    height: 35px;
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 0 15px;
    display: block;
    margin: auto;
}

    .cart-table td.pro-quantity .pro-qty-c .qtybtn {
        width: 15px;
        display: block;
        float: left;
        line-height: 31px;
        cursor: pointer;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        color: #444444;
    }

    .cart-table td.pro-quantity .pro-qty-c input {
        width: 28px;
        float: left;
        border: none;
        height: 33px;
        line-height: 33px;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

@media only screen and (max-width: 767px) {
    .cart-table td.pro-quantity .pro-qty-c {
        margin: 0;
    }
}

/* Remove inpru Arrow*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.user-icon {
    display: block;
    background-color: #202020;
    color: #a6a6a6;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


.user-profile-wrapper ul li:hover .user-icon {
    background: #F5D730;
    color: black;
}

.user-profile-wrapper p {
    cursor: pointer;
}

.user-profile-wrapper .dropdownList {
    padding: 20px 15px;
    width: 200px !important;
}

    .user-profile-wrapper .dropdownList li {
        margin: 10px 0px;
        transition: all .4s;
        border-radius: 40px;
        padding: 5px 15px
    }


        .user-profile-wrapper .dropdownList li:hover {
            box-shadow: 1px 3px 5px #999;
            transform: translateY(-2px);
            background-color: #eeeeee;
        }

        .user-profile-wrapper .dropdownList li i {
            transition: all .4s;
            margin-right: 5px;
        }

        .user-profile-wrapper .dropdownList li:hover:not(:last-child) i {
            color: #f5d730
        }

        .user-profile-wrapper .dropdownList li a {
            color: #606060;
        }


.divider {
    border: 1px solid #eee;
}

.shop-product-wrap {
    min-height: 900px;
}


/*.ui-autocomplete-custom {
    background: #87ceeb;
    z-index: 1000000;
}*/

.ui-autocomplete {

    position: absolute;
    top: 23.3% !important;
    left: 33% !important;
    width: 355px !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-top: none;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
    box-shadow: 2px 3px 6px #999;
    height: 580px;
    margin-top: -100px;

}

.ui-menu-item {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .4s;
    /*border-bottom: 1px solid #F5D730;*/
    padding: 5px 10px;
    cursor: pointer;
}



    .ui-menu-item:hover {
        cursor: pointer;
        box-shadow: 1px 3px 7px #999;
        background-color: #e9e9e9;
        border-radius: 5px;
    }

.imgAutoC {
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px;
}

.autoComplete-titel {
    display: inline-block;
}

added1 {
    color: #202020;
    border-color: #f5d730;
    background-color: #f5d730;
}

/*Override Bootstrap*/

.popover.bs-popover-bottom {
    margin-top: 0px !important;
}

.show-wishlist {
    display: block;
}

/*.popover.bs-popover-bottom {
    width: 39% !important;
    
}*/
/*.popover.bs-popover-top {
    overflow: auto !important;
    max-height: 70vh !important;
}*/
/*wishlist drodown*/
.wrapper-wishlist {
    display: inline;
    position: relative;
}

.dropdown-wishlist {
    background: #ffffff;
    width: 22vw;
    height: 60vh;
    position: absolute;
    right: 15px;
    z-index: 10000;
    margin-left: -10px;
    margin-top: 78px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid rgba(0,0,0,.15);
    border-top: none;
    display: none;
    border-top: 3px solid #f5d730;
}



.wishlist-header {
    background-color: #f7f7f7 !important;
    border-bottom: 1px solid #ebebeb;
}

    .wishlist-header h4.title {
        color: #f5d730;
        margin: 0px !important;
    }

.wishlist-body {
    overflow: scroll;
    height: 53vh;
    overflow-x: hidden;
}

.wishlist-add-btn:hover {
    color: #f5d730 !important;
    padding: 10px 30px;
}


/*samll laptop*/
@media(min-width:1024px){



    .ui-autocomplete {
        position: absolute;
        top: 23.2% !important;
        left: 37.5% !important;
        width: 21% !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-top: none;
        border-radius: 0px 0px 25px 25px;
        padding: 10px;
        box-shadow: 2px 3px 6px #999;
        height: 580px;
        margin-top: -100px;
    }
}


/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width:1023px) {
    .dropdown-wishlist {
        width: 43vw;
        margin-left: 0px;
        margin-top: 78px;
        right: -9vw;
    }


    .ui-autocomplete {
        position: absolute;
        top: 19.3% !important;
        left: 32% !important;
        width: 27% !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-top: none;
        border-radius: 0px 0px 25px 25px;
        padding: 10px;
        box-shadow: 2px 3px 6px #999;
        height: 580px;
        margin-top: -100px;
    }
}
/* Mobile*/
@media only screen and (min-width:424px ) and (max-width:767px) {
    .dropdown-wishlist {
        width: 62vw;
        margin-left: 0px;
        margin-top: 59px;
        right: -18vw;
    }

    .ui-autocomplete {
        position: absolute;
        top: 44% !important;
        left: 17% !important;
        width: 260px !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-top: none;
        border-radius: 0px 0px 25px 25px;
        padding: 10px;
        box-shadow: 2px 3px 6px #999;
        height: 70vh;
        margin-top: -100px;
        overflow: scroll;
    }
}

/*small Mobile*/
@media only screen and (min-width:320px ) and (max-width:423px) {
    .dropdown-wishlist {
        display: block;
        width: 66vw;
        margin-left: 0px;
        margin-top: 60px;
        right: -19vw;
    }

    .ui-autocomplete {
        position: absolute;
        top: 43.9% !important;
        left: 7% !important;
        width: 260px !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-top: none;
        border-radius: 0px 0px 25px 25px;
        padding: 10px;
        box-shadow: 2px 3px 6px #999;
        height: 70vh;
        margin-top: -100px;
        overflow: scroll;
    }

    .ui-menu-item-wrapper {
        font-size: .9rem;
        font-weight: 500;
        color: #2c2c2c;
    }
}


/*small Mobile*/
/*@media (max-width: 374px){
    .dropdown-wishlist {
        width: 80vw;
        margin-left: 0px;
        margin-top: 45px;
        right: -24vw;
    }
}*/


/*================Forms Style============*/

label {
    font-size: 1.1rem;
    font-weight: 500;
}

.form-group .form-control {
    background-color: #d1d1d1;
    border: 1px solid #ececec;
    font-size: 1.1rem;
    /*padding: 20px 15px;*/
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.form-group .form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -moz-box-shadow: none;
}

.form-control {
    height: 42px !important;
    padding: 5px 10px;
}

.user-name {
    font-size: 1.05rem;
}

.ajax-message {
    opacity: 0;
    transition: all .6s;
    text-align:center;
    font-weight:bold;
    margin-bottom:5px;
}

.grandtotal h2 {
    padding-top: 9px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}