@model CmsShopingCard.Models.ViewModels.Shop.ProductVM

<div class="form-group">
    <label class="control-label col-md-2" for="CategoryId">Category</label>
    @*<div class="col-md-10">
        @Html.DropDownListFor(model => model.BrandId, Model.Brands, "Select Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>*@
</div>