@model IEnumerable<CmsShopingCard.Models.Data.SliderGallery>

@{
    ViewBag.Title = "Index";
}




@if (!Model.Any())
{
    <h1 class="text-center"> There Are no Pages..</h1>
}
else
{

    <div class="px-2 px-sm-3 px-md-5">
        <h2>Gallery Images</h2>
        <div class="search-div d-flex justify-content-between align-items-center my-4">
            @*@Html.ActionLink("Add New Image", "AddImage", null, new { @class = "btn btn-primary" })*@
            <a href="#" class="btn btn-info add-img-btn">Add By Popup</a>
        </div>

        <table class="table table-striped table-light" id="slider-table" style="width:100% !important">
            <thead>
                <tr class="home">
                    <th>Image</th>
                    <th>
                        Title
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody>
                @*foreach (var item in Model)
                    {
                        <tr id="id_@item.SliderId">
                            <td>
                                <img class="img-responsive img-fluid rounded" src="/Images/Uploads/SliderImages/@item.ImageName" width="120" height="120">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                <a class="btn btn-success" href="/admin/Slider/Edit/@item.SliderId">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a class="btn btn-danger delete-img" href="/admin/Slider/DeleteSliderImage/@item.SliderId">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
}



<!-- Sign-Up Model -->
<div class="modal fade" id="img-slider-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="orange">Slider Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="img-slider-body">
                <!--Render Partial Here--->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
   
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        let sliderTable
        $(document).ready(function () {
            $(document).on("click", "a.add-img-btn", () => {

                debugger;
                let url = "/admin/slider/AddImgByPopup";

                $(".img-slider-body").load(url, () => {
                    $("#img-slider-modal").modal("show");
                })
            });


         



            

            sliderTable = $("#slider-table").DataTable({
                ajax: {
                    type: "GET",
                    url: "/admin/slider/GetSliders/",
                    data: "json"
                },
                columns: [
                    {
                        data: "ImageName",
                        render: function (ImageName, data, sliderObj) {
                            return `
                                                       <img class='rounded img-thumbnail'
                                                            src="/Images/Uploads/SliderImages/${ImageName}"
                                                            height='120' width='100'/>
                                                       `;

                        }
                    },
                    { data: "Title" },
                    {
                        data: "SliderId",
                        render: function (SliderId) {
                            return `
                                                   <a class="btn btn-success edit-silder-btn" data-id='${SliderId}' href="#">
                                                        <i class="fas fa-edit"></i>
                                                    </a>

                                                    <a class="btn btn-danger delete-img" href="#">
                                                        <i class="fas fa-trash"></i>
                                                    </a>

                                                  `
                        }
                    }
                ]

            });

        })


        $(document).on("click", ".edit-silder-btn", function (e) {

            debugger;
            var button = $(this);
            console.log(button.attr("data-id"));

            let url = "/admin/Slider/EditImgPartial?id=" + button.attr("data-id");

            $(".img-slider-body").load(url, () => {
                $("#img-slider-modal").modal("show");
            })
        });


        //ajax Success CallBack Response
        function imgSliderSuccess(respons) {

        }


        //ajax CallBack Response
        function imgSliderFail(respons) {
            console.log(respons)

        }

        function submitFrom(form) {
            var hiddenBrandId = $("#slider-hidden-id").val();
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                var imgInputFile = $("input#ImageUpload");
                //validate image required
                if (imgInputFile[0].files.length === 0 && hiddenBrandId == 0) {
                    $("span#ImageUpload").css("display", "Block");
                    return false;
                } else {

                    if (hiddenBrandId > 0) {
                        editSlider(form);
                    } else {
                        createSlider(form);
                    }
                }
            }
            return false;
        }

        function createSlider(form) {

            $.ajax({
                type: "POST",
                url: "/admin/slider/AddImgByPopup/",
                data: new FormData(form),
                processData: false,
                contentType: false,
                dataType: "text",
                success: function (result) {
                    debugger
                    if (result.status === "false") {
                        debugger;
                        $("#img-slider-modal").modal("hide");
                        errorNotify("Somthing Wrong ..!");
                    }
                    else {
                        if (typeof result === 'string') {
                            debugger;
                            $("#img-slider-modal").modal("hide");
                            //Notification
                            successNotifiy("Added brand Success");
                        }
                    }
                    sliderTable.ajax.reload();
                },
                error: function (result) {
                    debugger;
                    alert(result);
                }
            });

        }

        function editSlider(form) {

            $.ajax({
                type: "POST",
                url: "/admin/slider/EditImgPartial/",
                data: new FormData(form),
                processData: false,
                contentType: false,
                dataType: "text",
                success: function (result) {
                    debugger;
                    if (result.status === "false") {
                        errorNotify(result.message);
                    } else {
                        if (typeof result === 'string') {
                            debugger;
                            $("#img-slider-modal").modal("hide");
                            //Notification
                            successNotifiy("Update slider Success");
                        }
                    }
                    sliderTable.ajax.reload();
                },
                error: function (result) {
                    debugger;
                    alert(result);
                }
            });

        }

        function successNotifiy(message) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "4000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](message, "E-Shop")
        }


        var errorNotify = function (message) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-full-width",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "4000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](message, "E-Shop")
        };


        //delete
        $(function () {
            //confirm Page Deletion
            $('a.delete-img').click(function () {
                if (!confirm("Confirm Page Deletion")) {
                    return false;
                }
            });
        });


    </script>
}
